.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.button {
  letter-spacing: 3px;
  font-weight: 500;
  margin-left: 15px;
  font-size: 25px;
  color: #FFFFFF;
  border: 8px solid #B2479A;
  border-left: 8px solid #CC7FB5;
  border-right: 8px solid #CC7FB5;
  background-color: #E5B6D5;
  width: 175px;
  height: 75px;
}

.button:hover {
  border: 8px solid #CC7FB5;
  border-left: 8px solid #E5B6D5;
  border-right: 8px solid #E5B6D5;
  background-color: #B2479A;
}

@media screen and (max-width: 550px) {
  .container {
    flex-direction: column;
  }
  .resetButton {
    height: 40px;
    font-size: 14px;
    margin-top: 10px;
    }
}
